@import url("bootstrap.min.css");
@import url("bootstrap-theme.css");

body {
    /*background-image: url("../images/wildlifefoxes5.jpg");*/
    /*background-repeat: no-repeat;*/
    /*height: 400px;*/
    /*width: 400px;*/
    
  background: url("../images/wildlifefoxes5.jpg") no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
 
}


@media (min-width: 320px) and (max-width:600px){
    body{
        background: url('../images/tree_frog.jpg') no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-attachment: fixed;
    }
}

h1 {
    /* Linear gradients learned from W3Schools */
    background: #0c2647; /* For browsers that don't support gradients */
    background: -webkit-linear-gradient(#1a4195, #0c2647); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1a4195, #0c2647); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1a4195, #0c2647); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1a4195, #0c2647); /* Standard syntax */
    border-radius: 15px;
    text-align: center;
    font-family: "Open Sans", Open Sans, sans-serif;
    font-size: 2em;
    padding-bottom: 5%;
    padding-top:1%;
    color: #fbb731;
    
}

.ul{
    
    
    
}


