{% load static %}
<!DOCTYPE html>

<head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biology Department Equipment Rentals</title>
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href=  '{% static "css/thanks.css" %}'/> 
   
</head>
<body>
    
    <div class="container" >
        <div class="row">
            <div class="col-lg-12">
                <h1>Thanks for submitting you form!<br><br>
                You will receive an email shortly!</h1>
                <p id="textelement">Your Requests</p>
            </div>
       </div>
       <script>
        var sort_dates = function(date1, date2){
            if(date1 > date2) return 1;
            if(date1 < date2) return -1;
            return 0;
        };
        var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        var fullMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        var jsonObject = JSON.parse('{{dates_json_strings | escapejs}}');
        
        console.log(jsonObject);
        console.log("parsed JSON");
        var listOfDates = [];
        for (var key in jsonObject) {
            if (jsonObject.hasOwnProperty(key)) {
                console.log("looping")
                listOfDates.push(jsonObject[key])
            }
        }
        console.log(listOfDates);
        var listOfDateObjects = [];
        for(i = 0; i < listOfDates.length; i++){
            var theList = listOfDates[i].split(" ");
            aDate = new Date();
            aDate.setMonth(months.indexOf(theList[1]));
            aDate.setYear(parseInt(theList[3]));
            aDate.setDate(parseInt(theList[2]));
            aDate.setHours(parseInt(theList[4][0]) + 12);
            listOfDateObjects.push(aDate);
            console.log(i);
        }
        listOfDateObjects.sort(sort_dates);

        var text = "<ol>";
        for(i = 0; i < listOfDateObjects.length; i++){
            var dayOfWeek = days[listOfDateObjects[i].getDay()];
            var monthOfYear = fullMonths[listOfDateObjects[i].getMonth()];
            var theYear = listOfDateObjects[i].getFullYear();
            var theHour = listOfDateObjects[i].getHours() - 12;
            var min = 99;
            var meridian = 'PM';
            if (theHour == 8){
                min = 30;
                meridian = 'AM';
            }
            else {
                meridian = 'PM';
                min = 00;
            }
            var string = listOfDateObjects[i].toString();
            text += "<li>" + dayOfWeek + ', ' + monthOfYear + ' ' + listOfDateObjects[i].getDate() + ' ' + theYear + ' ' + theHour + ':' + min + ' ' + meridian + "</li>";
            console.log(i);
        }
        text += "</ol>";
        console.log ("text is: ");
        console.log(text);
        document.getElementById('textelement').innerHTML = text;
        console.log("testing list");

        //document.getElementById("textelement").innerHTML = listOfDates;
        
        </script>
       
      <div class="container" >
        <div class="row">
            <div class="col-lg-3">
                <ul></ul>
            </div>
       </div>
</body>    
    